.byline{
    color: gray;
}

header{
    margin-bottom: 25px;
}

h1{
    margin-bottom: 2px;
}


span.highlight{
    background-color: yellow;
}

table{
    border-collapse: collapse;
    padding: 0;
}

#tableheader{
    background-color: #20a9e5;
    color: white;
}

tr:nth-child(odd){
    background-color: #b1e5f2;
}

footer > h3{
    color: gray;
}

.video-container{
    position: relative;
}

.video-label{
    position: absolute;
    top: 5px;
    left: 5px;
    color: white;
    font-weight: bold;
}